/*
 * metismenu - v2.4.0
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu#readme
 *
 * Made by Osman Nuri Okumuş <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */

.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
    float: left;
}


/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
    content: "\f0a8";
}
.metismenu .active > a > .fa.arrow:before {
    content: "\f0ab";
}

.metismenu .plus-times {
    float: right;
}
*[dir="rtl"] .metismenu .plus-times {
    float: left;
}
.metismenu .fa.plus-times:before {
    content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.metismenu .plus-minus {
    float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
    float: left;
}
.metismenu .fa.plus-minus:before {
    content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
    content: "\f068";
}
.metismenu .collapse {
    display: none;
}
.metismenu .collapse.in {
    display: block;
}
.metismenu .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

.archive-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #999999;
    max-width: 400px;
}

@media screen and (max-width: 991px) {
    .archive-nav {
        margin: auto;
    }
}

.archive-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.archive-nav a, .archive-nav a:hover, .archive-nav a:focus, .archive-nav a:active {
    outline: none;
}
.archive-nav ul li, .archive-nav ul a {
    display: block;
}
.archive-nav ul a {
    padding: 10px 20px;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    /*box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);*/
}
.archive-nav ul a:hover, .archive-nav ul a:focus, .archive-nav ul a:active {
    color: #fff;
    text-decoration: none;
}
.archive-nav ul ul a {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.1);
}
.archive-nav ul ul a:hover, .archive-nav ul ul a:focus, .archive-nav ul ul a:active {
    background-color: rgba(255, 255, 255, 0.2);
}
.archive-nav-item {
    padding-left: 5px;
}
.posts {
    margin-left: 10px;
}